.line3{
	width: 100%;
	height: 28px;
	border-top: #e6e5e5 2px solid;
 }
 .denglu{
 	font-size: 1.2rem;
 	color: #333;
 	text-align: center;
 	margin-top: 28px;
 }
 .lgn_main2{
 	position: relative;
 	width: 580px;
 	height: 360px;
 	background-color: #eee;
 	margin:0 auto;
 	margin-top: 10px;
 }
 .input_1{
 	font-size: 0.8rem;
 	margin-left: 125px;
 	padding-left: 10px;
 	width: 320px;
 	height: 44px;
 	margin-top: 10px;
 	border-color: transparent;
 }
 .warn{
 	
 	margin-left: 125px;
 	width: 330px;
 	height: 20px;
 	font-size: 1rem;
 	color: #333;
 	line-height: 20px;
 	padding-top: 23px;
 }
 
 .warn img{
 	display: none;
	position: absolute;
	top: 27px;
	right: 123px;
	

 }
 .maind{
 	font-size: 0.8rem;
 	color: #333;
 	margin-top: 20px;
 	margin-left: 125px;
 }
 .maind img{
 	position: absolute;
 	top: 223px;
 	right:123px;
 }
 .btn{

 	margin-left: 125px;
 	width: 330px;
 	height: 50px;
 	text-align: center;
 	line-height: 50px;
 	background-color: #00ae9d;
 	font-size: 0.9rem;
 	color: #fff;
 	margin-top: 30px;
 	border-radius: 6px;
 	border:none;
 }
 .slip{
 	margin: 0 auto;
 	width: 305px;
 	margin-top: 30px;
 	font-size: 0.8rem;
 	
 }
 .slip span{
 	margin-left: 135px;
 	
 }
 .slip a{
 	color: #00ae9d;
 }
 .bottom{
 	position: relative;
 	width: 100%;
 	height: 165px;
 	background-color: #3c5569;
 	margin-top: 136px;
 }
 .link{
 	text-align: center;
 	color: #607485;

 }
 .link span a{
 	margin-top: 24px;
 	display: inline-block;
 	width: 120px;
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
 }
 .link span a:hover{
 	color: #00ae9d;
 }
 .xian{
 	text-align: center;
 }
 .xian span {
 	display: inline-block;
 	width: 520px;
 	height: 45px;
 	border-bottom: solid #80909d 1px;
 	margin

 }
 .image1{
	position: absolute;
	top: 70px;
	left: 47.5%;
 }
 .record{
 	text-align: center;
 	font-size: 0.6rem;
 	margin-top: 40px;
 	color: #fff;
 }
 .error{
 	display: none;
 	position: relative;
 	width: 580px;
 	height: 108px;
 	background-color: #f2dede;
 	margin: 0 auto;
 	margin-top: 13px;
 	font-size: .7rem;
 	color: #b94a48;
 }
 .error img{
 	position: absolute;
 	top: 20px;
 	left: 30px;
 	vertical-align: middle;

 }
 .error span{
 	display: inline-block;

 	margin-top:15px;
 	margin-left: 85px;
 }
 .error p{
 	margin-top: 20px;
 	margin-left: 85px;
 }
 .error a{
 	color: #00ae9d;

 }
 .login_zc{
 	text-align: center;
 	margin-top: 55px;
 	font-size: 1.2rem;
 	color: #333;
 }
 .login_main{

 	width: 1180px;
 	height: 348px;
 	margin: 0 auto;
 	background-color: #eee;
 	margin-top: 45px;
 }
 .login_main_1{

 	float: left;
 	margin-top: 36px;
 	margin-left: 36px;
 	width: 490px;
 	height: 270px;
 	background: url(../images/login_hot.png) no-repeat ;
 	
 }

 .login_main_3{
 	float: left;
 	font-size: 1.2rem;
 	color: #333;
 	line-height: 348px;
 	margin-left: 47px;
 	margin-right: 47px;
 	
 }
 
 .login_main_2{
 	float: left;
 	margin-top: 36px;
 	margin-right: 36px;
 	background-color: #fff;
 	width: 490px;
 	height: 270px;
 }
 .login_main_2 h2{
 	margin-top: 55px;
 	padding: 0;
 	font-size:1.8rem;
 	color: #333;
 	text-align: center;
 	margin-bottom: 25px;
 }
 .login_main_2 p{
 	text-align: center;
 	font-size: .9rem;
 	color: #333;
 	margin-bottom: 45px;
 }
 .login_zc2{
 	margin-top: 50px;
 	text-align: center;
 	font-size: 1.2rem;
 	color: #333;
 }
 .login_zc2 a{
 	color: #00ae9d;
 }
 .login_main_1 h2{
 	margin-top: 55px;
 	padding: 0;
 	font-size:1.8rem;
 	color: #333;
 	text-align: center;
 	margin-bottom: 25px;
 }
 .login_main_1 p{
 	text-align: center;
 	font-size: .9rem;
 	color: #333;
 	margin-bottom: 45px;
 }
 .login_main_btn{

 	margin:0 auto;
 	width: 370px;
 	height: 60px;
 	background-color: #00ae9d;
 	text-align: center;
 	line-height: 60px;
 	color: #fff;
 }
 .login_main_btn:hover{
 	opacity: 0.7;
 	filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7; 
 }
 .mlm{
 	
 	width: 100%;
 	background-color: #eee;
 	padding-top:50px;
 	padding-bottom: 50px;
 	
 }
 .m_main{
 	position: relative;
 	width:960px;
 	background-color: #fff;
 	height:633px;
 	margin:0 auto;
 	padding-left: 80px;
 	padding-top: 55px;

 }
 .m_head{
 	background-color:#f4f4f4;
 	margin:0 auto;
 	width: 1040px;
 	height: 39px;

 	border:1px solid #e0e0e0; 
 }
 .m_neck{
 	
 }
 .m_neck span{
 	margin-left: 10px;
 	display: inline-block;
 	line-height: 25px;
 	
 	

 	font-size: .9rem;
 	color: #333;
 }
 .m_neck img{
 	margin-top: -26px;
 	vertical-align:middle;
 }
.m_neck p{
	font-size: 0.7rem;
	color: #777;
}
.m_btn{
	width: 200px;
	height: 50px;
	background-color: #00ae9d;
	margin-top: 45px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	border-radius: 3px;
}
.m_text{
	margin-top: 45px;
	font-size: 14px;
	color: #333;

}
.m_text p{
	margin-top: 16px;
}
.m_text a{
	color: #00ae9d;
}
.footer{
	padding-left: 35px;
	line-height: 60px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 538px;
	height: 60px;
	background-color: #e0f0d9;
	
}
.m_login{
	float: left;
	width: 226px;
	height: 39px;
	margin-left: -30px;
	text-align: center;
	line-height: 39px;
	color: #00ae9d;
	font-size: .7rem;
}

.m_login.cal2{

	background:url(../images/m_icon1.png)no-repeat ; 
	background-color:#f4f4f4;


}
.m_login.cl4{
	background: url(../images/m-icon2.png)no-repeat;
}
.m_login.cl5{
	background: url(../images/m_icon3.png)no-repeat;
}
.m_login.cal3{
	
	
	background: url(../images/m_icon4.png)no-repeat 175px ;
	
}
.m_input p{
	font-size: 1rem;
	color: #333;
	margin-bottom: 10px;
}
.m_input input{
	margin-bottom: 30px;
	width: 330px;
	height: 44px;
}
.m_right{
	background-color: #fff;
	position: absolute;
	top: 60px;
	right:0;
	width: 520px;
	height: 420px;
	border-left: 1px solid #f4f4f4;
	font-size: .9rem;
	color: #333;
	padding-top: 50px;
	text-align: center;
}
.m_right a{
	color: #00ae9d;

}
.sever_logo{
	font-size: .9rem;
	color: #333;

}
.sever_logo p{
	font-size: .7rem;
	margin-top: 10px;
	margin-bottom: 50px;
}
.option{
	float: left;
	width: 190px;
	height: 40px;
	font-size: .7rem;
	color: #333;
	margin-right: 10px;
}
.sever_type{
	display: none;
	width: 672px;
	height: 270px;
	border: 1px solid #ccc ;
	margin-top: 50px;
	font-size: 0.8rem;
}
.sever_type input{
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-bottom: 20px;
	
	margin-left: 35px;
	margin-top: 20px;
	
}
.sever_type span{
	vertical-align: middle;
	
	
	font-size: 14px;
	color: #333;

}
.shop{
	font-size: .8rem;
	color: #333;
	
}
.shop input{
	font-size: 1rem;
	margin-top: 10px;
	width: 410px;
	height:40px; 
	margin-bottom: 30px;
}
.shop textarea{
	width: 548px;
	height: 210px;
	margin-top: 10px;
}
.ifm{
	float: left;
	width: 240px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	color: #333;
	font-size: .9rem;
	border: 2px solid #00ae9d;
	
}
.ifm.abc{
	background-color: #fff;
	color: #333;
	margin-bottom: 40px;
}
.card{
	font-size: .8rem;
	color: #333;
}
.card p{
	margin-top: 10px;
	font-size: .7rem;
	color: #777;
}
.card input{
	margin-top: 10px;
	width: 433px;
	height: 40px;
	font-size: 1rem;
}
.mobile_main{

	width: 580px;
	height: 736px;
	background-color: #eee;
	margin: 0 auto;
}
.mobile_logo{
	text-align: center;
	margin-top: 53px;
	margin-bottom: 25px;
	font-size: 1rem;
	color: #333;
}
.mobile_login{
	float: left;
	width: 240px;
	height: 50px;
	margin-top: 40px;
	margin-left: 50px;
	font-size: .9rem;
	text-align: center;
	line-height: 50px;
	
}
.mobile_login.alt{
	background-color: #00ae9d;
	color: #fff;
	border-radius: 3px 0 0 3px;
}
.mobile_login.aly{
	margin-left: 0;
	color: #333;
	border:2px solid #00ae9d;
	width: 236px;
	height:46px;
	border-radius: 0 3px 3px 0;
}
.MSISDN{
	font-size: 1rem;
	color: #333;
	margin-top: 32px;
	margin-left: 130px;

}
.MSISDN input{
	padding-left: 10px;
	width: 320px;
	height: 44px;
	border: #ccc 1px solid;

	margin-top: 10px;
	font-size: .8rem;
	margin-bottom: 20px;
}
.MSISDN span a{
	color: #00ae9d;
}
.MSISDN span img{
	vertical-align: middle;
	margin-right: 20px;
}
.MSP{
	font-size: .7rem;
	display: none;
	color: #ff4543;
}
.gain{
	width: 170px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	color: #fff;
	border-radius: 6px;
	background-color: #00ae9d;
	font-size: .8rem;
	margin-left: 130px;
}
.c_gain{
	margin-left: 70px;
}
.c_gain input{
	
	margin-top: 20px;
	width: 440px;
	height: 40px;
	background-color: #fff;
}
.c_gain p{
	color: #333;
	
	margin-top: 10px;
	
}
.chongzhi{
	width: 440px;
	height: 50px;
	background-color: #00ae9d;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
	margin:0 auto;
	margin-top: 50px;
}
.mail_main{

	margin:0 auto;
	line-height: 50px;
	width: 440px;
	height: 50px;
	background-color: #dde7be;
}
.mail_main img{
	margin-left: 20px;
	vertical-align: middle;
}
.mail_text{
	margin-left: 75px;
	margin-top: 30px;
	font-size: .8rem;
	color: #333;

}
.mail_text p{
	margin-bottom: 17px;

}
.once{
	margin:0 auto;
	margin-top: 20px;
	width: 200px;
	height: 50px;
	background-color: #00ae9d;
	text-align: center;
	line-height: 50px;
	font-size: .9rem;
	color: #fff;
	border-radius: 6px;
}
.need{
	float: left;
	width: 725px;
	background-color: #fff;
	padding-bottom: 60px;
}
.need_mains{
	float: left;
	width: 390px;
	margin-left: 40px;
}
.need_main{

	width:1180px;
	margin: 0 auto;

}
.need_p{
	font-size: .9rem;
	color: #333;
	margin-top: 30px;
	margin-left: 35px;
}
.need_icon{
	margin-top: 30px;
	font-size: .8rem;
	color: #333;
}
.need_icon img{
	margin-right: 30px;
	vertical-align: middle;
	
}
.need_check {
	position: relative;
	margin-top: -1px;
	width: 310px;
	height: 32px;
	border: 1px solid #ccc;
	line-height: 32px;
	margin-left: 80px;
	
}
.need_check p{
	margin-left: 45px;
	color: #333;
	font-size: .8rem;
}
.need_check input{
	position: absolute;
	top: 6px;
	left: 20px;
	width: 16px;
	height: 16px;
}
.need_icona {
	margin-top: 15px;
	margin-left: 80px;
	border: 1px solid #ccc;
	width: 330px;
	height: 32px;
	font-size: .7rem;
	color: #aaa;
}
.need_iconb p{
	margin-top: 25px;
	margin-left: 80px;
	font-size: .8rem;
	color: #333;
}
.need_rmk{
		width: 519px;
		height: 140px;
		margin-left: 80px;
}
.need_yzm{
	margin-left: 80px;
	margin-top: 20px;
	border-radius: 3px;
	width: 121px;
	height: 30px;
	background-color: #00ae9d;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: .8rem;
}
.need_text{
	width: 355px;
	height: 92px;
	background-color: #fff;
	padding-left: 30px;
	font-size: .8rem;
	padding-top: 30px;
	margin-left: 30px;
	color: #333;
}
.need_text span{
	display: inline-block;
	font-size: 1.2rem;
	color: #00ae9d;
	margin-top: 20px;
}
.need_title{
	margin-left:65px;
	margin-top: 44px;
	font-size: 1.2rem;
	color: #333;
}
.need_title p{
	font-size: .7rem;
	margin-top: 20px;
}
.m_input p{
	margin-top: 30px;
	font-size: 1rem;
	color: #333;
}
.m_input img{
	margin-left: 235px;
	display: none;
}
.m_input input{

	margin-top: 13px;
	width: 330px;
	height: 44px;
	font-size: 16px;
	border: none;
	border:solid 1px #ccc; 
}
.m_red{
	
	line-height: 25px;
	height: 25px;
	
}
.m_red p{
	display: none;
	font-size: 0.6rem;
	color: #ff4543;
}
.m_tt h3{
	margin-bottom: 15px;
	font-size: 0.8rem;
	color: #333;
}
.m_tt p{
	color: #777;
	font-size:.7rem;
}
.m_tt input{
	padding-left: 10px;
	margin-bottom: 20px;
	width: 423px;
	height: 40px;
	font-size: .8rem;
}
.m_file{
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: .6rem;
	background-color: #00ae9d;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.m_file:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}
.m_yzm{
	width: 170px;
	height: 44px;
	background-color: #00ae9d;
	color: #fff;
	font-size: .8rem;
	text-align: center;
	line-height: 44px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.m_card{
	float: left;
	margin-bottom: 40px;
	height: 125px;
}
.m_card p{
	font-size: 0.8rem;
	color: #333;
	margin-bottom: 10px;
}
.m_card_p{

	float: left;
	margin-left: 15px;
	margin-top: 26px;
	height: 125px;
}
.m_site select{
	width: 140px;
	height: 40px;
	font-size: .7rem;
	color: #aaa;
	margin-bottom: 20px;
}
.m_site p{
	margin-bottom: 15px;
}
.company{
	display: none;
}
.company >input{
	border:#ccc solid 1px;
	width: 563px;
	height:40px;
	font-size: .8rem;
	padding-left:10px; 
}
.m_btn:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}